

#rapperImage{

	height: 400px;

}
.update{
	height: 125px;
}

#playerBoard {

	height: 400px;
}

#topDivider{

	height:100px;
}






#placeHolder {
	
	height:50px;
	
	position: relative;
	top: 30px;
	color:#311b92;
	
	font-size: 45px;
	
}
.updateText{
	color:#b71c1c;
	font-weight: bold;
}
.divider{
	color:#b71c1c;
}

#letterGuess {

	
	position:relative;
	top:70px;
	

}

#guessCount {

	

}








